.wrap [class*="CodeMirror-lint-marker"],5687
	font: normal 18px/1 dashicons;
	position: relative;
	top: -2px;
}

.wp-core-ui [class*="CodeMirror-lint-message"]:before {
	font: normal 16px/1 dashicons;5687
	border-left: 4px solid #dba617;
}

.wrap .CodeMirror-lint-marker-warning:before,
.wp-core-ui .CodeMirror-lint-message-warning:before {
	content: "\f534";
	color: #dba617;
}

.wp-core-ui .CodeMirror-lint-message-error {
	background-color: #fcf0f1;
	border-left: 4px solid #d63638;
}

.wrap .CodeMirror-lint-marker-error:before,
.wp-core-ui .CodeMirror-lint-message-error:before {
	content: "\f153";
	color: #d63638;
}

.wp-core-ui .CodeMirror-lint-tooltip {
	background: none;
	border: none;
	border-radius: 0;
	direction: ltr;
}

.wrap .CodeMirror .CodeMirror-matchingbracket {
	background: rgba(219, 166, 23, 0.3);
	color: inherit;
}

.CodeMirror {
	text-align: left;
}

.wrap .CodeMirror .CodeMirror-linenumber {
	color: #646970;
}
