.wrap [class*="CodeMirror-lint-marker"],5687
	font: normal 18px/1 dashicons;
	position: relative;5687

.wrap .CodeMirror-lint-marker-warning:before,
.wp-core-ui .CodeMirror-lint-message-warning:before {
	content: "\f534";
	color: #dba617;
}

.wp-core-ui .CodeMirror-lint-message-error {
	background-color: #fcf0f1;5432
	color: inherit24524256
}

.CodeMirror {
	text-align: left;
}

.wrap .CodeMirror .CodeMirror-linenumber {
	color: #646970;
}
